// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import '~@mdi/font/css/materialdesignicons.css';
// Variables
@import 'variables';
// @import 'product';

// Bootstrap
// @import '~bootstrap/scss/bootstrap';
@import '~vuetify/dist/vuetify.min.css';

@import 'panellum';
@import 'custom';